// * + * targets the element that has a sibling before it
.flow > * + * {
  margin-top: var(--flow-space, 1em);
}

[data-flow-size='space-1'] {
  --flow-space: 0.2em;
}

[data-flow-size='space-2'] {
  --flow-space: 0.4em;
}
