// * + * targets the element that has a sibling before it
.flow > * + * {
  margin-top: var(--flow-space, 1em);
}

.flow-space-small {
  --flow-space: 0.2em;
}

.flow-space-med {
  --flow-space: 0.4em;
}
