// ------------------
// Utility Classes
// ------------------

.flex {
  display: flex;
  gap: var(--gap, 1rem);
}

.grid {
  display: grid;
  gap: var(--gap, 1rem);
}

.d-block {
  display: block;
}

.width-100 {
  width: 100%;
}

.container {
  padding-inline: 2em;
  max-width: 80rem; //1280px
  margin-inline: auto;
}

.sr-only {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
}


  // Ensures that the click area of buttons or links is at least 44x44px
.click-target-helper {
  position: relative;
  &::after {
    --click-target-minimum: 44px;
    // take the minimum of two values. When calc is positive it returns 0px.
    // When calc is negative it returns the result from calc since its less than 0
    --inset-by: min(
      0px,
      calc((100% - var(--click-target-minimum)) / 2)
    );

    content: "";
    position: absolute;
    top: var(--inset-by);
    left: var(--inset-by);
    right: var(--inset-by);
    bottom: var(--inset-by);
  }
}


// Color Utilities

.bg-dark { background-color: hsl(var(--clr-dark-hsl) / var(--alpha, 1));}
.bg-accent { background-color: hsl(var(--clr-accent-hsl) / var(--alpha, 1));}
.bg-white { background-color: hsl(var(--clr-white-hsl) / var(--alpha, 1));}
.bg-transparent { background-color: transparent;}
.text-dark { color: hsl(var(--clr-dark-hsl));}
.text-accent { color: hsl(var(--clr-accent-hsl));}
.text-white { color: hsl(var(--clr-white-hsl));}

.text-white-25 {color: hsl(var(--clr-white-hsl) / .25);}



