.crew {
  --bg-image: url(../../assets/crew/background-crew-mobile.jpg);

  @include for-tablet-up {
    --bg-image: url(../../assets/crew/background-crew-tablet.jpg);
  }

  @include for-desktop-up {
    --bg-image: url(../../assets/crew/background-crew-desktop.jpg);
  }

}