.grid-container {
  text-align: center;
  display: grid;
   place-items: center;
  padding-inline: 1.5rem;
  padding-bottom: 3rem;

  > * {
    max-width: 50ch;
  }


  @include for-desktop-up {
    text-align: left;
    column-gap: var(--container-gap, 2rem);
    grid-template-columns: minmax(0.5rem, 1fr) repeat(2, minmax(0, 40rem)) minmax(0.5rem, 1fr);
    padding-bottom: max(5rem, 20vh);
  }

  &--home {
    @include for-desktop-up {
      align-items: end;

      > :first-child {
        grid-column: 2;
      }

      > :last-child {
        grid-column: 3;
      }

      > :last-child {
      justify-self: end;
      }
    }
  }

  &--destination {
    --flow-space: 2rem;

    grid-template-areas:
        'title'
        'image'
        'tabs'
        'content';

    .numbered-title {
      align-self: start;
      grid-area: title
    }

    .planet-image {
      grid-area: image;
      display: grid;
      place-content: center;
      img {
        height: auto;
        max-width: 40vw;
      }
    }

    .tab-buttons {
      grid-area: tabs;
      --gap: min(3vw, 2rem);
    }

    .destination-info {
      grid-area: content;

    }

    .destination-meta {
      flex-direction: column;
      border-top: 1px solid var(--clr-grey-blue);
      padding-top: 2.5rem;
      margin-top: 2.5rem;
      p {
        font-size: var(--fs-750);
      }
    }

    @include for-tablet-only {
      .destination-info {
        max-width: 65ch;
      }
    }

    @include for-tablet-up {
      .numbered-title {
        justify-self: start;
        margin-top: max(2rem, 5vw);
      }

      .destination-meta {
        flex-direction: row;
        justify-content: space-evenly;
      }
    }

    @include for-desktop-up {
      justify-items: start;
      align-content: start;
      grid-template-areas:
          '. title title .'
          '. image tabs .'
          '. image content .';

      .planet-image {
        justify-self: center;
      }

      .destination-meta {
        justify-content: start;
        --gap: min(8vw, 6rem);
      }
    }
  }

  &--crew {
    --flow-space: 2rem;
    grid-template-areas:
      'title'
      'image'
      'tabs'
      'content';

    .numbered-title {
      grid-area: title;
    }

    .crew-image {
      grid-area: image;
      display: grid;
      place-content: center;
      border-bottom: 1px solid var(--clr-grey-blue);
      img {
        height: auto;
        max-width: 50vw;
      }
    }

    .dot-buttons {
      grid-area: tabs;
    }

    .crew-meta {
      grid-area: content;
    }

    @include for-tablet-up {
      grid-template-areas:
          'title'
          'content'
          'tabs'
          'image';

      .numbered-title {
        margin-top: max(2rem, 5vw);
        justify-self: start;
      }

      .crew-image {
        align-self: end;
      }
    }

    @include for-desktop-up {
      grid-template-areas:
          '. title image .'
          '. content image .'
          '. tabs image .';
      justify-items: start;
    }
  }

  &--tech {
    padding-inline: 0;
    --flow-space: 2rem;
    align-content: start;
    grid-template-columns: clamp(1.5rem, 5vw, 3.5rem) 1fr clamp(1.5rem, 5vw, 3.5rem);
    grid-template-areas:
        '. title .'
        'image image image'
        '. tabs .'
        '. content .';

    .numbered-title {
      grid-area: title;
    }

    .tech-image {
      grid-area: image;
      max-width: 100%;
      width: 100%;
      > img {
        object-fit: cover;
        width: 100%;
        max-height: clamp(170px, 25vw, 527px);
      }
    }

    .number-buttons {
      grid-area: tabs;
      grid-auto-flow: column;
      justify-items: center;
      justify-content: center;
    }

    .tech-meta {
      grid-area: content;
    }


    @include for-tablet-up {
      margin-top: 2rem;

      .numbered-title {
        justify-self: start;
      }
    }

    @include for-desktop-up {
      grid-template-columns: clamp(1.5rem, 15vw, 6vw) auto 1fr 1fr;
      // justify-content: space-between;
      grid-template-areas:
         '. title title title'
         '. tabs content image';

      .tech-image {
        display: grid;
        justify-content: end;
        img {
          min-height: 527px;
        }
      }

      .number-buttons {
        grid-auto-flow: row;
      }
    }
  }
}
