.home {
     --bg-image: url(../../assets/home/background-home-mobile.jpg);

    @include for-tablet-up {
      --bg-image: url(../../assets/home/background-home-tablet.jpg);
    }

    @include for-desktop-up {
      --bg-image: url(../../assets/home/background-home-desktop.jpg);
    }

}