body {
  background-color: var(--clr-dark);
  color: var(--clr-white);
  font-family: var(--ff-sans-normal);
  font-size: var(--fs-400);
  font-weight: var(--fw-normal);
  line-height: 1.5;
}

h1,h2,h3,h4,h5,h6 {
  font-weight: var(--fw-normal);
}

