:root {
    --phone-max: 37.4374em; //599px
    --tab-port-min: 37.5em // 600px
    --tab-port-max: 56.1875em // 899px
    --desktop-min: 56.25em // 900px
    --desktop-max: 80em // 1280px

}


@mixin for-phone-only {
  @media (max-width: 37.4374em) { @content; }
}
@mixin for-tablet-up {
  @media (min-width: 37.5em) { @content; }
}
@mixin for-tablet-only {
  @media (min-width: 37.5em) and (max-width: 56.1875em) { @content; }
}
@mixin for-desktop-up {
  @media (min-width: 56.25em) { @content; }
}