/* Box sizing rules */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
}

/* Avoid text overflow */
/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
html, body {
  height: 100%;
}

body {
  text-rendering: optimizeSpeed;
  -webkit-font-smoothing: antialiased;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img, picture, video, canvas, svg {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

button {
  padding: 0;
  border: none;
  background-color: none;
  cursor: pointer;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
*::before,
*::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
         -o-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
:root {
  --phone-max: 37.4374em;
  --tab-port-min: 37.5em // 600px
  --tab-port-max: 56.1875em // 899px
  --desktop-min: 56.25em // 900px
  --desktop-max: 80em // 1280px ;
}

:root {
  --clr-dark-hsl: 230 35% 7%;
  --clr-accent-hsl: 231 77% 90%;
  --clr-white-hsl: 0 100% 100%;
  --clr-grey-blue-hsl: 231 15% 26%;
  --clr-dark: hsl(var(--clr-dark-hsl) / 1);
  --clr-accent: hsl(var(--clr-accent-hsl) / 1);
  --clr-white: hsl(var(--clr-white-hsl) / 1);
  --clr-grey-blue: hsl(var(--clr-grey-blue-hsl) / 1);
}

/* bellefair-regular - latin */
@font-face {
  font-family: "Bellefair";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../../assets/fonts/bellefair/bellefair-v11-latin-regular.eot");
  /* IE9 Compat Modes */
  src: url("../../assets/fonts/bellefair/bellefair-v11-latin-regular.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/bellefair/bellefair-v11-latin-regular.woff2") format("woff2"), url("../../assets/fonts/bellefair/bellefair-v11-latin-regular.woff") format("woff"), url("../../assets/fonts/bellefair/bellefair-v11-latin-regular.ttf") format("truetype"), url("../../assets/fonts/bellefair/bellefair-v11-latin-regular.svg#Bellefair") format("svg");
  /* Legacy iOS */
}
/* barlow-condensed-regular - latin */
@font-face {
  font-family: "Barlow Condensed";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../../assets/fonts/barlow-condensed/barlow-condensed-v11-latin-regular.eot");
  /* IE9 Compat Modes */
  src: url("../../assets/fonts/barlow-condensed/barlow-condensed-v11-latin-regular.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/barlow-condensed/barlow-condensed-v11-latin-regular.woff2") format("woff2"), url("../../assets/fonts/barlow-condensed/barlow-condensed-v11-latin-regular.woff") format("woff"), url("../../assets/fonts/barlow-condensed/barlow-condensed-v11-latin-regular.ttf") format("truetype"), url("../../assets/fonts/barlow-condensed/barlow-condensed-v11-latin-regular.svg#BarlowCondensed") format("svg");
  /* Legacy iOS */
}
/* barlow-regular - latin */
@font-face {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../../assets/fonts/barlow/barlow-v11-latin-regular.eot");
  /* IE9 Compat Modes */
  src: url("../../assets/fonts/barlow/barlow-v11-latin-regular.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/barlow/barlow-v11-latin-regular.woff2") format("woff2"), url("../../assets/fonts/barlow/barlow-v11-latin-regular.woff") format("woff"), url("../../assets/fonts/barlow/barlow-v11-latin-regular.ttf") format("truetype"), url("../../assets/fonts/barlow/barlow-v11-latin-regular.svg#Barlow") format("svg");
  /* Legacy iOS */
}
/* barlow-condensed-700 - latin */
@font-face {
  font-family: "Barlow Condensed";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../../assets/fonts/barlow-condensed-700/barlow-condensed-v11-latin-700.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../../assets/fonts/barlow-condensed-700/barlow-condensed-v11-latin-700.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/barlow-condensed-700/barlow-condensed-v11-latin-700.woff2") format("woff2"), url("../../assets/fonts/barlow-condensed-700/barlow-condensed-v11-latin-700.woff") format("woff"), url("../../assets/fonts/barlow-condensed-700/barlow-condensed-v11-latin-700.ttf") format("truetype"), url("../../assets/fonts/barlow-condensed-700/barlow-condensed-v11-latin-700.svg#BarlowCondensed") format("svg");
  /* Legacy iOS */
}
:root {
  --font-sans: system-ui,-apple-system,"Segoe UI","Roboto","Ubuntu","Cantarell","Noto Sans", sans-serif;
  --font-serif: "Old Style", "Apple Garamond", "Baskerville", "Times New Roman", "Droid Serif", "Times", "Source Serif Pro", "serif", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --ff-serif: "Bellefair", var(--font-serif);
  --ff-sans-cond: "Barlow Condensed", var(--font-sans);
  --ff-sans-normal: "Barlow", var(--font-sans);
  --fs-900: clamp(5rem, 8.5vw + 1rem, 9.375rem);
  --fs-800: 3.55rem;
  --fs-750: 1.75rem;
  --fs-700: 1.5rem;
  --fs-600: 1.25rem;
  --fs-500: 1rem;
  --fs-400: 0.9375rem;
  --fs-300: 0.875rem;
  --fs-200: 0.875rem;
  --letter-spacing-large: 2.7px;
  --letter-spacing-med: 2.7px;
  --letter-spacing-sm: 2.35px;
  --letter-spacing-xs: 1.25px;
  --fw-normal: 400;
  --fw-bold: 700;
}
@media (min-width: 37.5em) {
  :root {
    --fs-800: 5rem;
    --fs-700: 2.5rem;
    --fs-600: 2rem;
    --fs-500: 1.25rem;
    --fs-400: 1rem;
    --fs-300: 1rem;
    --letter-spacing-large: 3.38px;
    --letter-spacing-med: 2.36px;
    --letter-spacing-sm: 2.35px;
    --letter-spacing-xs: 2px;
  }
}
@media (min-width: 56.25em) {
  :root {
    --fs-700: 3.5rem;
    --fs-500: 1.75rem;
    --fs-400: 1.125rem;
    --letter-spacing-large: 4.75px;
    --letter-spacing-med: 2.7px;
    --letter-spacing-sm: 2.35px;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-weight: var(--fw-normal);
}

/* typography */
.ff-serif {
  font-family: var(--ff-serif);
}

.ff-sans-cond {
  font-family: var(--ff-sans-cond);
}

.ff-sans-normal {
  font-family: var(--ff-sans-normal);
}

.letter-spacing-1 {
  letter-spacing: var(--letter-spacing-large);
}

.letter-spacing-2 {
  letter-spacing: var(--letter-spacing-med);
}

.letter-spacing-3 {
  letter-spacing: var(--letter-spacing-sm);
}

.uppercase {
  text-transform: uppercase;
}

.fs-900 {
  font-size: var(--fs-900);
}

.fs-800 {
  font-size: var(--fs-800);
}

.fs-750 {
  font-size: var(--fs-750);
}

.fs-700 {
  font-size: var(--fs-700);
}

.fs-600 {
  font-size: var(--fs-600);
}

.fs-500 {
  font-size: var(--fs-500);
}

.fs-400 {
  font-size: var(--fs-400);
}

.fs-300 {
  font-size: var(--fs-300);
}

.fs-200 {
  font-size: var(--fs-200);
}

.fw-normal {
  font-weight: var(--fw-normal);
}

.fw-bold {
  font-weight: var(--fw-bold);
}

.fs-900,
.fs-800,
.fs-700,
.fs-600 {
  line-height: 1.1;
}

a {
  color: currentColor;
}

:root {
  --duration-fast: 200ms;
  --duration-med: 300ms;
  --duration-slow: 600ms;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: var(--gap, 1rem);
}

.grid {
  display: grid;
  gap: var(--gap, 1rem);
}

.d-block {
  display: block;
}

.width-100 {
  width: 100%;
}

.container {
  padding-inline: 2em;
  max-width: 80rem;
  margin-inline: auto;
}

.sr-only {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
}

.click-target-helper {
  position: relative;
}
.click-target-helper::after {
  --click-target-minimum: 44px;
  --inset-by: min(
    0px,
    calc((100% - var(--click-target-minimum)) / 2)
  );
  content: "";
  position: absolute;
  top: var(--inset-by);
  left: var(--inset-by);
  right: var(--inset-by);
  bottom: var(--inset-by);
}

.bg-dark {
  background-color: hsl(var(--clr-dark-hsl)/var(--alpha, 1));
}

.bg-accent {
  background-color: hsl(var(--clr-accent-hsl)/var(--alpha, 1));
}

.bg-white {
  background-color: hsl(var(--clr-white-hsl)/var(--alpha, 1));
}

.bg-transparent {
  background-color: transparent;
}

.text-dark {
  color: hsl(var(--clr-dark-hsl));
}

.text-accent {
  color: hsl(var(--clr-accent-hsl));
}

.text-white {
  color: hsl(var(--clr-white-hsl));
}

.text-white-25 {
  color: hsl(var(--clr-white-hsl)/0.25);
}

:root {
  --layer-1: 1;
  --layer-2: 2;
  --layer-3: 3;
  --layer-4: 4;
  --layer-5: 5;
  --layer-important:2147483647;
}

.layer-1 {
  z-index: var(--layer-1);
}

.layer-2 {
  z-index: var(--layer-2);
}

.layer-3 {
  z-index: var(--layer-3);
}

.layer-4 {
  z-index: var(--layer-4);
}

.layer-5 {
  z-index: var(--layer-5);
}

.layer-important {
  z-index: var(--layer-important);
}

a:focus-visible,
.focus-visible {
  outline: 1px solid var(--clr-accent);
  outline-offset: 5px;
}

.justif-self-end {
  justify-self: end;
}

.flow > * + * {
  margin-top: var(--flow-space, 1em);
}

.flow-small > * + * {
  margin-top: var(--flow-space-small, 0.2em);
}

.split > * + * {
  margin-top: 1rem;
}

body {
  background-color: var(--clr-dark);
  color: var(--clr-white);
  font-family: var(--ff-sans-normal);
  font-size: var(--fs-400);
  font-weight: var(--fw-normal);
  line-height: 1.5;
  display: grid;
  grid-template-rows: -webkit-min-content 1fr;
  grid-template-rows: min-content 1fr;
  background: var(--bg-image) 0/cover fixed;
  overflow-x: hidden;
}

.primary-header {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (min-width: 56.25em) {
  .primary-header {
    margin-top: 2.5rem;
    --gap: 0;
  }
  .primary-header::after {
    content: "";
    display: block;
    margin-right: -2rem;
    z-index: var(--layer-5);
    height: 1px;
    width: 100%;
    background: hsl(var(--clr-white-hsl)/0.5);
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }
  .primary-header nav {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

.numbered-title {
  font-family: var(--ff-sans-cond);
  font-size: var(--fs-500);
  letter-spacing: 4.72px;
  text-transform: uppercase;
}
.numbered-title span {
  color: hsl(var(--clr-white-hsl)/0.25);
  margin-right: 0.85em;
  font-weight: var(--fw-bold);
}

.btn-large {
  --btn-size: 7.5em;
  isolation: isolate;
  position: relative;
  display: inline-grid;
  place-content: center;
  letter-spacing: var(--letter-spacing-xs);
  width: var(--btn-size);
  height: var(--btn-size);
  border-radius: 50%;
  text-decoration: none;
}
.btn-large::before {
  content: "";
  opacity: 0;
  position: absolute;
  inset: 0;
  background: hsl(var(--clr-white-hsl)/0.13);
  border-radius: inherit;
  --anim-duration: var(--duration-slow);
  -webkit-transition: opacity var(--anim-duration) linear, -webkit-transform calc(1.5 * var(--anim-duration)) ease-out;
  transition: opacity var(--anim-duration) linear, -webkit-transform calc(1.5 * var(--anim-duration)) ease-out;
  -o-transition: opacity var(--anim-duration) linear, transform calc(1.5 * var(--anim-duration)) ease-out;
  transition: opacity var(--anim-duration) linear, transform calc(1.5 * var(--anim-duration)) ease-out;
  transition: opacity var(--anim-duration) linear, transform calc(1.5 * var(--anim-duration)) ease-out, -webkit-transform calc(1.5 * var(--anim-duration)) ease-out;
  z-index: -1;
}
.btn-large:hover::before, .btn-large:focus::before {
  opacity: 1;
  -webkit-transform: scale(1.64);
      -ms-transform: scale(1.64);
          transform: scale(1.64);
  --anim-duration: var(--duration-fast);
}
@media (min-width: 37.5em) {
  .btn-large {
    --btn-size: 7.5625em;
  }
}
@media (min-width: 56.25em) {
  .btn-large {
    --btn-size: 8.5625em;
  }
}

.tab-button[aria-selected=true] {
  color: var(--clr-white);
}

.dot-button {
  --dot-size: 0.5rem;
  padding: var(--dot-size);
  border-radius: 50%;
  -webkit-box-shadow: inset 0px 0px 0px var(--dot-size) hsl(var(--clr-white-hsl)/0.17);
          box-shadow: inset 0px 0px 0px var(--dot-size) hsl(var(--clr-white-hsl)/0.17);
  will-change: box-shadow;
  -webkit-transition: -webkit-box-shadow var(--anim-duration, var(--duration-med)) ease-out;
  transition: -webkit-box-shadow var(--anim-duration, var(--duration-med)) ease-out;
  -o-transition: box-shadow var(--anim-duration, var(--duration-med)) ease-out;
  transition: box-shadow var(--anim-duration, var(--duration-med)) ease-out;
  transition: box-shadow var(--anim-duration, var(--duration-med)) ease-out, -webkit-box-shadow var(--anim-duration, var(--duration-med)) ease-out;
}
.dot-button:hover {
  -webkit-box-shadow: inset 0px 0px 0px var(--dot-size) hsl(var(--clr-white-hsl)/0.25);
          box-shadow: inset 0px 0px 0px var(--dot-size) hsl(var(--clr-white-hsl)/0.25);
  --anim-duration: var(--duration-fast);
}

.dot-button[aria-selected=true] {
  background-color: var(--clr-white);
}

.number-button {
  position: relative;
  --button-size: 2.5em;
  font-family: var(--ff-serif);
  font-size: var(--fs-600);
  color: var(--clr-white);
  border-radius: 50%;
  width: var(--button-size);
  height: var(--button-size);
  background-color: var(--clr-dark);
  -webkit-box-shadow: 0px 0px 0px 1px hsl(var(--clr-white-hsl)/0.25);
          box-shadow: 0px 0px 0px 1px hsl(var(--clr-white-hsl)/0.25);
  will-change: box-shadow;
  -webkit-transition: -webkit-box-shadow var(--duration-med) ease-out;
  transition: -webkit-box-shadow var(--duration-med) ease-out;
  -o-transition: box-shadow var(--duration-med) ease-out;
  transition: box-shadow var(--duration-med) ease-out;
  transition: box-shadow var(--duration-med) ease-out, -webkit-box-shadow var(--duration-med) ease-out;
}
.number-button:hover, .number-button:focus {
  -webkit-box-shadow: 0px 0px 0px 1px var(--clr-white);
          box-shadow: 0px 0px 0px 1px var(--clr-white);
}
.number-button[aria-selected=true] {
  color: var(--clr-dark);
  background-color: var(--clr-white);
  -webkit-box-shadow: 0px 0px 0px 1px hsl(var(--clr-white-hsl));
          box-shadow: 0px 0px 0px 1px hsl(var(--clr-white-hsl));
}

[aria-label="primary navigation"] {
  z-index: var(--layer-4);
}
[aria-label="primary navigation"] .menu-trigger {
  display: none;
}
[aria-label="primary navigation"] .primary-navigation-list {
  --underline-gap: 2.25rem;
  --gap: 8.5625rem;
  font-size: var(--fs-300);
  font-family: var(--ff-sans-cond);
  list-style: none;
  background: hsl(var(--clr-dark-hsl)/0.95);
}
@supports ((-webkit-backdrop-filter: blur(40px)) or (backdrop-filter: blur(40px))) {
  [aria-label="primary navigation"] .primary-navigation-list {
    -webkit-backdrop-filter: blur(40px);
            backdrop-filter: blur(40px);
    background: hsl(var(--clr-white-hsl)/0.04);
  }
}
[aria-label="primary navigation"] .primary-navigation-list a {
  text-decoration: none;
}
[aria-label="primary navigation"] .primary-navigation-list a span {
  font-weight: var(--fw-bold);
  margin-right: 0.5em;
}
@media (max-width: 37.4374em) {
  [aria-label="primary navigation"] .menu-trigger {
    display: block;
    position: absolute;
    top: 2rem;
    right: 1.5rem;
    z-index: var(--layer-5);
    background: transparent;
    background-image: url(../../assets/shared/icon-hamburger.svg);
    background-repeat: no-repeat;
    background-position: center;
    --bg-size: 1.5rem;
    width: var(--bg-size);
    height: var(--bg-size);
  }
  [aria-label="primary navigation"] .menu-trigger:focus-visible {
    outline: 2px solid var(--clr-accent);
    outline-offset: 5px;
  }
  [aria-label="primary navigation"] .menu-trigger[aria-expanded=true] {
    background-image: url(../../assets/shared/icon-close.svg);
  }
  [aria-label="primary navigation"] .menu-trigger[aria-expanded=true] ~ .primary-navigation-list {
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0);
  }
  [aria-label="primary navigation"] .primary-navigation-list {
    font-size: var(--fs-500);
    position: fixed;
    inset: 0 0 0 30%;
    padding-block: min(20rem, 18vh);
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-transform: translateX(100%);
        -ms-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: visibility 0s 200ms, -webkit-transform 200ms ease-out;
    transition: visibility 0s 200ms, -webkit-transform 200ms ease-out;
    -o-transition: transform 200ms ease-out, visibility 0s 200ms;
    transition: transform 200ms ease-out, visibility 0s 200ms;
    transition: transform 200ms ease-out, visibility 0s 200ms, -webkit-transform 200ms ease-out;
    --gap: 1rem;
  }
  [aria-label="primary navigation"] .primary-navigation-list.underline-indicators > * {
    --underline-gap: 0.3rem;
  }
  [aria-label="primary navigation"] .primary-navigation-list.underline-indicators > *::before {
    height: 100%;
    width: 4px;
    right: 0;
  }
}
@media (min-width: 37.5em) {
  [aria-label="primary navigation"] .primary-navigation-list {
    padding-inline: clamp(3rem, 7vw, 7.75rem);
    --gap: clamp(3rem, 5vw, 4.5rem);
  }
}
@media (min-width: 37.5em) and (max-width: 56.1875em) {
  [aria-label="primary navigation"] .primary-navigation-list span {
    display: none;
  }
}

.underline-indicators > *,
.underline-indicator {
  cursor: pointer;
  position: relative;
  padding-block: var(--underline-gap, 1rem);
}
.underline-indicators > *::before,
.underline-indicator::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: 0;
  opacity: 0;
  -webkit-transform: scaleX(0);
      -ms-transform: scaleX(0);
          transform: scaleX(0);
  background-color: hsl(var(--clr-white-hsl)/0.52);
  --anim-duration: var(--duration-slow);
  -webkit-transition: opacity var(--anim-duration) linear, -webkit-transform var(--anim-duration) ease-out;
  transition: opacity var(--anim-duration) linear, -webkit-transform var(--anim-duration) ease-out;
  -o-transition: opacity var(--anim-duration) linear, transform var(--anim-duration) ease-out;
  transition: opacity var(--anim-duration) linear, transform var(--anim-duration) ease-out;
  transition: opacity var(--anim-duration) linear, transform var(--anim-duration) ease-out, -webkit-transform var(--anim-duration) ease-out;
}
.underline-indicators > *:hover::before, .underline-indicators > *:focus:before,
.underline-indicator:hover::before,
.underline-indicator:focus:before {
  opacity: 1;
  -webkit-transform: scaleX(1);
      -ms-transform: scaleX(1);
          transform: scaleX(1);
  --anim-duration: var(--duration-fast);
}
.underline-indicators > *[aria-selected=true]::before, .underline-indicators > *.active::before,
.underline-indicator[aria-selected=true]::before,
.underline-indicator.active::before {
  opacity: 1;
  -webkit-transform: scaleX(1);
      -ms-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-box-shadow: 0px 0px 1em var(--clr-accent);
          box-shadow: 0px 0px 1em var(--clr-accent);
  background-color: hsl(var(--clr-white-hsl)/1);
}

.logo {
  --logo-size: 40px;
  min-width: var(--logo-size);
  min-height: var(--logo-size);
  margin: 24px clamp(1.5rem, 5vw, 3.5rem);
}

@media (min-width: 37.5em) {
  .logo {
    --logo-size: 48px;
  }
}
.skip-to-content {
  position: absolute;
  padding: 1rem;
  border-radius: 8px;
  z-index: var(--layer-important);
  -webkit-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: -webkit-transform var(--duration-fast) ease-out;
  transition: -webkit-transform var(--duration-fast) ease-out;
  -o-transition: transform var(--duration-fast) ease-out;
  transition: transform var(--duration-fast) ease-out;
  transition: transform var(--duration-fast) ease-out, -webkit-transform var(--duration-fast) ease-out;
}

.skip-to-content:focus {
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
}

.grid-container {
  text-align: center;
  display: grid;
  place-items: center;
  padding-inline: 1.5rem;
  padding-bottom: 3rem;
}
.grid-container > * {
  max-width: 46ch;
}
@media (min-width: 56.25em) {
  .grid-container {
    text-align: left;
    -webkit-column-gap: var(--container-gap, 2rem);
       -moz-column-gap: var(--container-gap, 2rem);
            column-gap: var(--container-gap, 2rem);
    grid-template-columns: minmax(0.5rem, 1fr) repeat(2, minmax(0, 40rem)) minmax(0.5rem, 1fr);
    padding-bottom: max(5rem, 20vh);
  }
}
@media (min-width: 56.25em) {
  .grid-container--home {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: end;
  }
  .grid-container--home > :first-child {
    grid-column: 2;
  }
  .grid-container--home > :last-child {
    grid-column: 3;
  }
  .grid-container--home > :last-child {
    justify-self: end;
  }
}
.grid-container--destination {
  --flow-space: 2rem;
  grid-template-areas: "title" "image" "tabs" "content";
}
.grid-container--destination .numbered-title {
  align-self: start;
  grid-area: title;
}
.grid-container--destination .planet-image {
  grid-area: image;
  width: 100%;
  height: auto;
  max-width: 40%;
}
.grid-container--destination .tab-buttons {
  grid-area: tabs;
}
.grid-container--destination .destination-info {
  grid-area: content;
}
.grid-container--destination .destination-meta {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-top: 1px solid var(--clr-grey-blue);
  padding-top: 2.5rem;
  margin-top: 2.5rem;
}
@media (min-width: 37.5em) and (max-width: 56.1875em) {
  .grid-container--destination .destination-info {
    max-width: 65ch;
  }
}
@media (min-width: 37.5em) {
  .grid-container--destination .numbered-title {
    justify-self: start;
    margin-top: max(2rem, 5vw);
  }
  .grid-container--destination .destination-meta {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}
@media (min-width: 56.25em) {
  .grid-container--destination {
    justify-items: start;
    -webkit-column-gap: 5rem;
       -moz-column-gap: 5rem;
            column-gap: 5rem;
    grid-template-areas: ". title title ." ". image tabs ." ". image content .";
  }
  .grid-container--destination .planet-image {
    justify-self: center;
    max-width: 100%;
  }
  .grid-container--destination .destination-meta {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    gap: 5rem;
  }
}

.home {
  --bg-image: url(../../assets/home/background-home-mobile.jpg);
}
@media (min-width: 37.5em) {
  .home {
    --bg-image: url(../../assets/home/background-home-tablet.jpg);
  }
}
@media (min-width: 56.25em) {
  .home {
    --bg-image: url(../../assets/home/background-home-desktop.jpg);
  }
}

.destination {
  --bg-image: url(../../assets/destination/background-destination-mobile.jpg);
}
@media (min-width: 37.5em) {
  .destination {
    --bg-image: url(../../assets/destination/background-destination-tablet.jpg);
  }
}
@media (min-width: 56.25em) {
  .destination {
    --bg-image: url(../../assets/destination/background-destination-desktop.jpg);
  }
}